* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.delete-tag {
    color: #E2E1E1;
    display: flex;
    background-color: #18191D;
    justify-content: center;
    gap: 90px;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
}

.text {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.del {
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-bottom: 10px;
    z-index: 2;
}

.side-navbar {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 59vw;
    background-color: #1D232C;
    left: -60%;
    transition: 1s;
}

.faaaa{
    position: relative;
}

.faaaa i{
    position: absolute;
    right: 25px;
    padding-top: 25px;
    color: #E2E1E1;
}

.side-navbar ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.side-navbar ul li a{
    color: #E2E1E1;
    padding: 30px;
    font-size: larger;
}

.list ul,
.list ul li {
    display: inline;
    padding-left: 50px;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.nav-head {
    font-weight: 800;
}

#i {
    font-size: 137px;
    color: white;
    position: absolute;
    left: 100px;

}

#ei {
    font-size: 137px;
    color: white;
    position: absolute;
    right: 100px;
}

.slide-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide-bar-content {
    position: absolute;
}

.slide-ba {
    color: white;
    font-size: 3vw;
    text-align: center;
}

.slide-ba h1 {
    font-weight: bold;
}

.slide-ba h5 {
    font-size: 1.5vw;
    font-weight: bold;
}

.slide-ba button {
    padding-top: 0;
    padding: 10px;
}

.brands {
    padding-top: 91px;
}

.brands h1 {
    font-weight: 700;
    padding-left: 10px;
}

.brands-container {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    gap: 100px;
}

.brands-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.brands-data img {
    z-index: 0;
}

.brands-data p {
    font-size: 2vw;
}

.experiences-head {
    display: flex;
    padding-top: 91px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.head h2 {
    font-size: 2vw;
    font-weight: 700;
    padding-left: 10px;
}

.para {
    font-size: 22px;
}

.service {
    padding: 15px;
    animation-name: scroll;
}

.service:visited {
    display: block;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div {
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
    padding-top: 15px;
}

.service-container-2 div h4 {
    font-weight: 700;
    font-size: medium;
}

.service-container-2 div p {
    font-size: small;
}

.new-arrivals-data {
    position: relative;
}

.new-arrivals-data {
    display: flex;
    justify-content: space-between;
}

.new-arrivals-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.new-arrivals {
    scroll-behavior: smooth;
}

.new-arrivals-data img {
    display: inline;
    border-radius: 2%;
    width: 20vw;
    filter: brightness(50%)
}

.new-arrivals-data button {
    position: absolute;
    padding: 10px;
    border-radius: 5%;
    border: white 1px solid;
    background-color: #F0F0F0;
    padding-left: 30px;
    padding-right: 30px;
    top: 150px;
    left: 50px;
    font-size: 15px;
}

.new-arrivals h1 {
    padding: 25px;
    font-weight: 700;
}

#new-arrivals {
    scroll-behavior: auto;
}

#home {
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

.most-wanted h1 {
    font-weight: 700;
    padding: 20px;
}

.most-wanted-data {
    position: relative;
}

.most-wanted-data p {
    font-size: 2vw;
    background-color: red;
    color: white;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    left: 2%;
}

.fa {
    position: relative;
}

.most-wanted-data i,
.imagepng {
    font-size: 3vw;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.most-wanted-data,
.most-wanted-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.limited-offer {
    display: flex;
    background-color: #1D232C;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.limited-offer-content h2 {
    font-size: 3vw;
    color: #E2E1E1;
    font-weight: 700;
}

.limited-offer-content p {
    font-size: 2vw;
    color: #E2E1E1;
    font-weight: 700;
}

.limited-offer-content button {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    border: white 1px solid;
    background-color: #F0F0F0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

.news-letter {
    text-align: center;
    padding-top: 40px;
}

.news-letter h1 {
    font-size: 3vw;
    font-weight: 700;
}

.news-letter p {
    font-size: 2vw;
}

.news-letter input {
    border: 3px solid #1D232C;
    width: 80%;
    height: 2.5vw;
    margin-top: 10px;
}

.news-letter button {
    padding: 11px;
    font-size: 20px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #1D232C;
    border: 1px solid #1D232C;
    color: #E2E1E1;
    margin-top: 10px;
}

footer {
    background-color: #1D232C;
    margin-top: 35px;
    padding: 30px;
}

footer h1 {
    font-size: 3vw;
    font-weight: 700;
    color: #E2E1E1;
}

footer p,
footer b {
    font-size: 2vw;
    color: #E2E1E1;
    padding-right: 10px;
}

.social-media {
    padding-top: 15px;
    padding-left: 40px;
    display: flex;
    gap: 75px;
    padding-bottom: 20px;
}

.social-media i {
    font-size: 2.1vw;
    font-weight: 400;
    color: #ffffff;
}

footer b {
    padding-top: 25px;
}

@media screen and (max-width:600px) {
    .delete-tag {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .text {
        font-size: 5px !important;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

    .faa i {
        font-size: 10px !important;
        padding: 0;
    }

    .faa i:active .delete-tag{
        display: none;
    }

}